# =============================================================
# AeroSync Ops
# Autor: Andrei Roberto da Costa
# Data: 2026-03-27
# Hora: 15:37:28 -03
# Arquivo: backend/.gitignore
# =============================================================

/_build/
/deps/
/cover/
/.elixir_ls/
erl_crash.dump
